button{
  display: block;
  width: 100%;
}

li{
  list-style:none;
}

.allTaskSpace{
  display: flex;
}

.container{
  padding: 8px;
  margin: 8px;
  display: flex;
  align-items: center;
}

.toTaskSpace{
  width: 25%;
}

.notTouch{
  height: 50px;
  background-color: #ffa500;
  margin-left: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.notTouchLetter{
  padding-left: 10px;
  color: white;
  line-height: 50px;
}

.starting{
  height: 500px;
  border: 1px solid #1b2538;
	border-radius: 4px;
  border-style: dotted;
  background-color: #EEEEEE;
  margin-left: 10px;
}

.end{
  height: 500px;
  border: 1px solid #1b2538;
	border-radius: 4px;
  border-style: dotted;
  background-color: #EEEEEE;
  margin-left: 10px;
}

.todoText{
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 30%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: 1px solid darkgrey;
	border-radius: 4px;
}

.taskSpace{
  height: 60px;
  border-left: 6px solid #eb6100;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 10px;
  margin-right: 8px;
  border-radius: 4px;
}

.pTodo{
  margin-right: 5%;
  width: 100%;
  line-height: 60px;
  font-size: 1.0em;
  padding-left: 2%;
  text-align: left;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  height: auto;
  width: 210px;
}

.btnOrange {
  color: #fff;
  background-color: #eb6100;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  border: none;
  width: 90%;
  margin-bottom: 7%;
}

.btnOrange:hover {
  color: #fff;
  background: #f56500;
}

.cpIptxt {
	position: relative;
	margin: 20px 3%;
}

.cpIptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #1b2538;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.ef input[type='text']:focus {
	border: 1px solid #eb6100;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.popupBtn{
  width: 90%;
  margin: auto;
  margin-bottom: 4%;
}